<h1>You Know Who We Are!</h1>
<h2>We hope you love 21 Buffalo! Here you'll find some additional information about our style and where you can buy some of the great things you've seen in our space!</h2>
<p>Stores we love: West Elm, CB2, Crate & Barrel, Wayfair, Etsy and more!</p>
