<%= image_tag("buffalo2.png", class: "img-responsive", )%>
<h1>Welcome to 21 Buffalo</h1>
<h2>If we're selling something, you'll find it here!</h2>
<p>Welcome! The date and time is <%= Time.now %></p>
